tqdm
gymnasium
git+https://github.com/mimoralea/gym-walk#egg=gym-walk
tabulate
matplotlib
pandas
seaborn
git+https://github.com/pybox2d/pybox2d
swig
pytorch
pygame
opencv-python
stable-baselines3
git+https://github.com/DLR-RM/rl-baselines3-zoo.git
poetry
git+https://github.com/vwxyzjn/cleanrl.git